@import "colors";

// this are the standar sizes of things 
$full:100%;
$half:50%;

$small:12px;
$border: 1px solid $grey;
$Rale: 'Raleway', sans-serif;



// this is the navigation bar

nav {
	font-family:$Rale;
	border-bottom:1px solid $grey;
	height: 50px;
	ul{
		float:right;
		list-style-type: none;
		li{
			padding: 0px 20px;
			display: inline;
			color: $dark-blue;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 2pt;
		}
	}
}


// this is everything in the body 
#wrapper{
	width:$half;
	margin: 10% 0 0 25%;
	font-family:$Rale;

	h1{
		color: $grey;
		text-align: center;
		text-transform:uppercase;
	}

	p{
		line-height: 200%;
		font-size: 12px;
		text-align: center;
	}

}

#ul_wrapper{
	margin-left:20%;
	list-style-type: none;
	li{
		text-transform: uppercase;
		text-align: center;
		padding: 0 20px;
		margin-right: 2%;
		display: inline;	
		border:$border;
		font-size: 11px;
	&:hover{
		background: $dark-blue;
		color: #fff;
		}
	}
}	


.message{
	width:100%;
	height:20px;
	padding-top:10px;
	margin-bottom:20px;
	text-align:center;
	font-size:12px;
	font-family:$Rale;
	border:1px solid $grey;
}

.success{
	@extend .message;
	border-color: green;
}

.error{
	@extend .message;
	border-color: red;
}